<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/admin/fragments/head :: head}"></head>

<title>Template-Home</title>
<!-- BASE CSS -->
<link rel="stylesheet" th:href="@{/user/assets/compiled/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/user/assets/compiled/css/style.css}">

<!-- SPECIFIC CSS -->
<link rel="stylesheet" th:href="@{/user/assets/compiled/css/home_1.css}">

<!-- FontAwesome for icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<style>
    .list-group-item {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .list-group-item span {
        font-size: 1rem;
    }
</style>
<body>

<div id="page">
    <header th:replace="/user/fragments/header :: header"></header>
    <!-- /header -->

    <main>
        <!-- Phần hiển thị sản phẩm - Thêm vào sau phần "New Arrival" trong file HTML -->
        <div class="container">
            <nav aria-label="breadcrumb" class="mt-3">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tài khoản của tôi</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-lg-3">
                    <aside th:replace="/user/fragments/sidebar :: sidebar"></aside>
                </div>

                <div class="col-lg-9">
                    <div class="card border-0 shadow-sm">
                        <div class="card-header">
                            <h4>Địa chỉ</h4>
                            <p class="text-muted">Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
                        </div>
                        <div class="card-body">
                            <form>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="/user/fragments/footer :: footer"></footer>
    <!--/footer-->
</div>

<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

<!-- COMMON SCRIPTS -->
<script th:src="@{/user/assets/compiled/js/common_scripts.min.js}"></script>
<script th:src="@{/user/assets/compiled/js/main.js}"></script>

</body>
</html>